* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 525px;
  left: 0px;
  top: 0px;
  background-color: #f4f6f9;
}

.logo_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 32px;
  left: 0px;
  margin-top: 32px;
  width: 100%;
}

.logo {
  display: block;
  width: 100px;
  height: 32px;
}

.main_header_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 150px;
  left: 0px;
  width: 100%;
}

.main_header {
  margin: 0px 20px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #333333;
}

.main_description_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 302px;
  left: 0px;
  width: 100%;
}

.main_description {
  margin: 0px 20px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #4f4f4f;
}

.stores_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44px;
}

.store {
  width: 146px;
  height: 44px;
  cursor: pointer;
}

.apple {
  background-image: url(./img/AppleStore.png);
  position: absolute;
  top: 422px;
  left: 20px;
}

.android {
  background-image: url(./img/GooglePlay.png);
  position: absolute;
  top: 422px;
  right: 20px;
}
