.hero_image_wrapper {
  width: 100%;
  height: 260px;
  .hero_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (min-width: $mobile_landscape) {
  .hero_image_wrapper {
    height: 400px;
  }
}

@media (min-width: $tablet) {
  .hero_image_wrapper {
    height: 700px;
  }
}
