$main_color: #f4f6f9;
$main_header_color: #333333;
$main_description_color: #4f4f4f;
$text_color: #00adee;
$football_experience_color: #333333;
$paragraph_color: #4f4f4f;
$border_color: #828282;

// Breakpoints
$mobile_landscape: 500px;
$tablet: 768px;
$laptop: 1024px;
$fullhd: 1920px;
$tv4k: 3840px;
